{%extends 'base.html' %}

{% block main %}

<div class="main">
    
        <div class="sub-div1">
            
            <img src="{{ url_for('static', filename='download.jpg') }}">
        
            <font color="white" id="first">
            <h1> {{ name }} </h1>
            
            <h4> {{ username}} </h4>
            
            <h4> {{ location }} </h4>
            
            <h4> {{ joined }} </h4>
            </font>
            
        </div>
        
        <div class="sub-div2">
        
            <p id="text-wrap"><font color="white"> I am a smart and talented young man who purses to excel in all areas of life and will never give up. 
                Web Development is my game, Whats Yours? Contact me if you are interested in building pages. </font> </p>
            
            <p id="text-wrap1"> 7 100 250 </p>
            
            <p id="text-wrap1"> Posts Following Followers </p>
            
            <button type="submit" value="Follow" id="button"> Follow</button>
        </div>

</div>

{% endblock %}